
@{
    ViewBag.Title = "NewServiceRequest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    /*.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
        padding: 5px;
        line-height: 1.42857143;
        vertical-align: top;
        border-top: 1px solid #ddd;
    }*/
    table.table-bordered {
        border: 1px solid #8a8a8a;
    }

        table.table-bordered > thead > tr > td {
            border: 1px solid #8a8a8a;
        }

        table.table-bordered > tbody > tr > td {
            border: 1px solid #8a8a8a;
        }

    .tabs-rounded > ul > li > a {
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
        outline: none;
        color: white !important
    }

    .panel-default {
        border-color: #050021 !important;
    }
</style>
<script src="~/AngularCntrls/dashboardCtrl.js?lmdt=201910300907"></script>
<!-- Main content -->
<section class="content" ng-controller="DashboardCntrl" ng-cloak style="padding-right: 0;">

    <div class="panel-group" style="margin-left: -25px;">
        <div class="panel panel-default" style="border: none">
            <div class="panel-heading" style="background:#050021">
                <h4 class="panel-title">
                    <a data-toggle="collapse" ng-click="addIconCollapseServiceRequest()" data-parent="#accordionpatient" href="#collapse_search_1">
                        <span style="font-size: 12px;top: 0;" class="glyphicon glyphicon-minus"></span>
                        Contract
                    </a>
                </h4>
            </div>
            <div id="collapse_search_1" class="panel-collapse active in collapse" style="border: 1px solid #050021;">
                <div class="panel-body" style="padding: 0;">

                    <table width="100%">
                        <tr>
                            <td style="width:  calc(100% / 4); ">
                                <div style="width:100%;display: flex">
                                    <div class="input-group" style="width: 100%;">
                                        <input type="text" class="form-control ng-pristine ng-valid ng-empty ng-touched" placeholder="Business Unit" name="Licence">
                                        <span class="input-group-addon" style="border-top-left-radius: 0;border-bottom-left-radius: 0;padding-bottom: 0;padding-top: 12px;">
                                            <i class="fa fa-ellipsis-h"></i>
                                        </span>
                                    </div>
                                </div>
                            </td>
                            <td style="width:  calc(100% / 4)">

                                <div class="input-group" style="width: 100%">

                                    <input type="text" class="form-control ng-pristine ng-valid ng-empty ng-touched" placeholder="Contract Number" name="Licence">
                                    <span class="input-group-addon" style="border-top-left-radius: 0;border-bottom-left-radius: 0;padding-bottom: 0;padding-top: 12px;">
                                        <i class="fa fa-ellipsis-h"></i>
                                    </span>
                                </div>
                            </td>
                            <td style="width:  calc(100% / 4)">

                                <div class="input-group" style="width: 100%">

                                    <input type="text" class="form-control ng-pristine ng-valid ng-empty ng-touched" placeholder="Currency" name="Licence">
                                    <span class="input-group-addon" style="border-top-left-radius: 0;border-bottom-left-radius: 0;padding-bottom: 0;padding-top: 12px;">
                                        <i class="fa fa-ellipsis-h"></i>
                                    </span>
                                </div>
                            </td>
                            <td style="width:  calc(100% / 4)">

                                <div class="input-group" style="width: 100%">

                                    <input type="text" class="form-control ng-pristine ng-valid ng-empty ng-touched" placeholder="Status" name="Licence">
                                    <span class="input-group-addon" style="border-top-left-radius: 0;border-bottom-left-radius: 0;padding-bottom: 0;padding-top: 12px;">
                                        <i class="fa fa-ellipsis-h"></i>
                                    </span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="width:  calc(100% / 4); ">
                                <div style="width:100%;display: flex">
                                    <div class="input-group" style="width: 100%;">
                                        <input type="text" class="form-control ng-pristine ng-valid ng-empty ng-touched" placeholder="Enter Party ( .. New Party)" name="Licence">
                                        <span class="input-group-addon" style="border-top-left-radius: 0;border-bottom-left-radius: 0;padding-bottom: 0;padding-top: 12px;">
                                            <i class="fa fa-ellipsis-h"></i>
                                        </span>
                                    </div>
                                </div>
                            </td>
                            <td style="width:  calc(100% / 4)">

                                <div class="input-group" style="width: 100%">

                                    <input type="text" class="form-control ng-pristine ng-valid ng-empty ng-touched" placeholder="Contract Type" name="Licence">
                                    <span class="input-group-addon" style="border-top-left-radius: 0;border-bottom-left-radius: 0;padding-bottom: 0;padding-top: 12px;">
                                        <i class="fa fa-ellipsis-h"></i>
                                    </span>
                                </div>
                            </td>
                            <td style="width:  calc(100% / 4)">

                                <div class="input-group" style="width: 100%">

                                    <input type="text" class="form-control ng-pristine ng-valid ng-empty ng-touched" placeholder="Country" name="Licence">
                                    <span class="input-group-addon" style="border-top-left-radius: 0;border-bottom-left-radius: 0;padding-bottom: 0;padding-top: 12px;">
                                        <i class="fa fa-ellipsis-h"></i>
                                    </span>
                                </div>
                            </td>
                            <td style="width:  calc(100% / 4)">

                                <div class="input-group" style="width: 100%">

                                    <input type="text" class="form-control ng-pristine ng-valid ng-empty ng-touched" placeholder="Revision" name="Licence">
                                    <span class="input-group-addon" style="border-top-left-radius: 0;border-bottom-left-radius: 0;padding-bottom: 0;padding-top: 12px;">
                                        <i class="fa fa-ellipsis-h"></i>
                                    </span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="width:  calc(100% / 4); ">
                                <div style="width:100%;display: flex">
                                    <div class="input-group" style="width: 100%;">
                                        <input type="text" class="form-control ng-pristine ng-valid ng-empty ng-touched" placeholder="Party#" name="Licence">
                                        <span class="input-group-addon" style="border-top-left-radius: 0;border-bottom-left-radius: 0;padding-bottom: 0;padding-top: 12px;">
                                            <i class="fa fa-ellipsis-h"></i>
                                        </span>
                                    </div>
                                </div>
                            </td>
                            <td style="width:  calc(100% / 4)">

                                <div class="input-group" style="width: 100%">

                                    <input type="text" class="form-control ng-pristine ng-valid ng-empty ng-touched" placeholder="License IP type" name="Licence">
                                    <span class="input-group-addon" style="border-top-left-radius: 0;border-bottom-left-radius: 0;padding-bottom: 0;padding-top: 12px;">
                                        <i class="fa fa-ellipsis-h"></i>
                                    </span>
                                </div>
                            </td>
                            <td style="width:  calc(100% / 4)">

                                <div class="input-group" style="width: 100%">

                                    <input type="text" class="form-control ng-pristine ng-valid ng-empty ng-touched" placeholder="Group" name="Licence">
                                    <span class="input-group-addon" style="border-top-left-radius: 0;border-bottom-left-radius: 0;padding-bottom: 0;padding-top: 12px;">
                                        <i class="fa fa-ellipsis-h"></i>
                                    </span>
                                </div>
                            </td>
                            <td style="width:  calc(100% / 4)">

                                <div class="input-group" style="width: 100%">

                                    <input type="text" class="form-control ng-pristine ng-valid ng-empty ng-touched" placeholder="Hold" name="Licence">
                                    <span class="input-group-addon" style="border-top-left-radius: 0;border-bottom-left-radius: 0;padding-bottom: 0;padding-top: 12px;">
                                        <i class="fa fa-ellipsis-h"></i>
                                    </span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="width:  calc(100% / 4); ">
                                <div style="width:100%;display: flex">
                                    <div class="input-group" style="width: 100%;">
                                        <input type="text" class="form-control ng-pristine ng-valid ng-empty ng-touched" placeholder="Generate Contract Documents [B]" name="Licence">
                                        <span class="input-group-addon" style="border-top-left-radius: 0;border-bottom-left-radius: 0;padding-bottom: 0;padding-top: 12px;">
                                            <i class="fa fa-ellipsis-h"></i>
                                        </span>
                                    </div>
                                </div>
                            </td>
                            <td style="width:  calc(100% / 4)">

                                <div class="input-group" style="width: 100%">

                                    <input type="text" class="form-control ng-pristine ng-valid ng-empty ng-touched" placeholder="Contract Date" name="Licence">
                                    <span class="input-group-addon" style="border-top-left-radius: 0;border-bottom-left-radius: 0;padding-bottom: 0;padding-top: 12px;">
                                        <i class="fa fa-ellipsis-h"></i>
                                    </span>
                                </div>
                            </td>
                            <td style="width:  calc(100% / 4)">

                                <div class="input-group" style="width: 100%">

                                    <input type="text" class="form-control ng-pristine ng-valid ng-empty ng-touched" placeholder="To" name="Licence">
                                    <span class="input-group-addon" style="border-top-left-radius: 0;border-bottom-left-radius: 0;padding-bottom: 0;padding-top: 12px;">
                                        <i class="fa fa-ellipsis-h"></i>
                                    </span>
                                </div>
                            </td>
                            <td style="width:  calc(100% / 4)">

                                <div class="input-group" style="width: 100%">

                                    <input type="text" class="form-control ng-pristine ng-valid ng-empty ng-touched" placeholder="Approval Stage" name="Licence">
                                    <span class="input-group-addon" style="border-top-left-radius: 0;border-bottom-left-radius: 0;padding-bottom: 0;padding-top: 12px;">
                                        <i class="fa fa-ellipsis-h"></i>
                                    </span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="width:  calc(100% / 4); ">
                                <div style="width:100%;display: flex">
                                    <div class="input-group" style="width: 100%;">
                                        <input type="text" class="form-control ng-pristine ng-valid ng-empty ng-touched" placeholder="Sell Of Date Contract Documents [B]" name="Licence">
                                        <span class="input-group-addon" style="border-top-left-radius: 0;border-bottom-left-radius: 0;padding-bottom: 0;padding-top: 12px;">
                                            <i class="fa fa-ellipsis-h"></i>
                                        </span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>

            </div>
        </div>
    </div>
    <div class="panel-group" style="margin-left: -25px;">
        <div class="panel panel-default" style="border: none">
            <div class="panel-heading" style="background:#050021">
                <h4 class="panel-title">
                    <a data-toggle="collapse" ng-click="addIconCollapseServiceRequest()" data-parent="#accordionpatient" href="#collapse_steplog_1">
                        <span style="font-size: 12px;top: 0;" class="glyphicon glyphicon-minus"></span>
                        Additional Header Information
                    </a>
                </h4>
            </div>
            <div id="collapse_steplog_1" class="panel-collapse active in collapse" style="border: 1px solid #050021;">
                <div class="panel-body" style="padding: 2px;">

                    <table width="100%">
                        <tr>
                            <td style="width:  calc(100% / 3); ">
                                <div style="width:100%;display: flex">
                                    Contract Signed By:
                                </div>
                            </td>
                            <td style="width:  calc(100% / 3)">

                                <div class="input-group" style="width: 100%">

                                    Contract Reference:
                                </div>
                            </td>
                            <td style="width:  calc(100% / 3)">

                                <div class="input-group" style="width: 100%">
                                    Insurance certificate Number:
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: calc(calc(100% / 3) *2); " colspan="2">
                                <div style="width:100%;display: flex">
                                    <div class="input-group" style="width: 100%;">
                                        <input type="text" class="form-control ng-pristine ng-valid ng-empty ng-touched" placeholder="Notes" name="Licence">
                                        <span class="input-group-addon" style="border-top-left-radius: 0;border-bottom-left-radius: 0;padding-bottom: 0;padding-top: 12px;">
                                            <i class="fa fa-ellipsis-h"></i>
                                        </span>
                                    </div>
                                </div>
                            </td>
                            <td style="width:  calc(100% / 3)">

                                <div class="input-group" style="width: 100%">
                                    Legal Status:
                                </div>
                            </td>
                        </tr>
                    </table>

                </div>

            </div>
        </div>


    </div>

    <div class="tabs-rounded" style="background-color:white;margin-left: -25px;">
        <ul class="nav nav-tabs" style="font-size:12px;border-bottom:0 !important">
            <li class="active"><a href="#General" data-toggle="tab">Contract Details Lines</a></li>
            <li><a href="#AuditLog" data-toggle="tab">Agreement Rules</a></li>
            <li><a href="#Advances" data-toggle="tab">Advances/Guarantees</a></li>
            <li><a href="#Communication" data-toggle="tab">Contacts</a></li>
            <li><a href="#Finding" data-toggle="tab">Payee's</a></li>
            <li><a href="#Recommendation" data-toggle="tab">Payments</a></li>
            <li><a href="#Case" data-toggle="tab">Additional Rules</a></li>
            <li><a href="#Documents" data-toggle="tab">Documents</a></li>
        </ul>
        <div id="myTabContent" class="tab-content">

            <div class="tab-pane active in" id="General">
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-body" style="overflow:auto;padding:4px">

                            <table class="table table-bordered tabel-condensed" style="margin-bottom:0">
                                <thead style="background-color:#8a8a8a !important;border-collapse:collapse;white-space:nowrap; font-size:14px;color:#fff !important">
                                    <tr>

                                        <td style="width:calc(100% / 9)" ng-click="sort('NAME')" ng-class="sortClass('NAME')"><a class="anchor_sorting" href="">Product Num (Item Num)</a>&nbsp;</td>
                                        <td style="width:calc(100% / 9)" ng-click="sort('NAME')" ng-class="sortClass('NAME')"><a class="anchor_sorting" href="">Description</a>&nbsp;</td>
                                        <td style="width:calc(100% / 9)" ng-click="sort('NAME')" ng-class="sortClass('NAME')"><a class="anchor_sorting" href="">Category</a>&nbsp;</td>
                                        <td style="width:calc(100% / 9)" ng-click="sort('NAME')" ng-class="sortClass('NAME')"><a class="anchor_sorting" href="">IP</a>&nbsp;</td>
                                        <td style="width:calc(100% / 9)" ng-click="sort('NAME')" ng-class="sortClass('NAME')"><a class="anchor_sorting" href="">Start Date</a>&nbsp;</td>
                                        <td style="width:calc(100% / 9)" ng-click="sort('NAME')" ng-class="sortClass('NAME')"><a class="anchor_sorting" href="">End Date</a>&nbsp;</td>
                                        <td style="width:calc(100% / 9)" ng-click="sort('NAME')" ng-class="sortClass('NAME')"><a class="anchor_sorting" href="">Calculation Method</a>&nbsp;</td>

                                        <td style="width:calc(100% / 9)" ng-click="sort('NAME')" ng-class="sortClass('NAME')"><a class="anchor_sorting" href="">Calulation amount</a>&nbsp;</td>
                                        <td style="width:calc(calc(100% / 9)*3)" ng-click="sort('NAME')" ng-class="sortClass('NAME')"><a class="anchor_sorting" href=""></a>&nbsp;</td>

                                    </tr>
                                </thead>

                                <tbody>

                                    <tr>
                                        <td style="width:calc(100% / 9)">B001234</td>
                                        <td style="width:calc(100% / 9)">Spider Man Shoes</td>
                                        <td style="width:calc(100% / 9)">Shoes.Superhero</td>
                                        <td style="width:calc(100% / 9)">Spiderman character</td>
                                        <td style="width:calc(100% / 9)">01-01-2021</td>
                                        <td style="width:calc(100% / 9)">31-12-2023</td>
                                        <td style="width:calc(100% / 9)">Per Unit percent</td>
                                        <td style="width:calc(100% / 9)">1.2%</td>
                                        <td style="width:calc(calc(100% / 9)*3)"><a>Additional Rules</a></td>
                                    </tr>
                                    <tr>
                                        <td style="width:calc(100% / 9)">B001235</td>
                                        <td style="width:calc(100% / 9)">Spider Man Shoes</td>
                                        <td style="width:calc(100% / 9)">Shoes.Superhero</td>
                                        <td style="width:calc(100% / 9)">Spiderman character</td>
                                        <td style="width:calc(100% / 9)">01-01-2021</td>
                                        <td style="width:calc(100% / 9)">31-12-2023</td>
                                        <td style="width:calc(100% / 9)">Per Unit percent</td>
                                        <td style="width:calc(100% / 9)">1.2%</td>
                                        <td style="width:calc(calc(100% / 9)*3)"><a>Additional Rules</a></td>
                                    </tr>
                                    <tr>
                                        <td style="width:calc(100% / 9)">B001236</td>
                                        <td style="width:calc(100% / 9)">Spider Man Shoes</td>
                                        <td style="width:calc(100% / 9)">Shoes.Superhero</td>
                                        <td style="width:calc(100% / 9)">Spiderman character</td>
                                        <td style="width:calc(100% / 9)">01-01-2021</td>
                                        <td style="width:calc(100% / 9)">31-12-2023</td>
                                        <td style="width:calc(100% / 9)">Per Unit percent</td>
                                        <td style="width:calc(100% / 9)">1.2%</td>
                                        <td style="width:calc(calc(100% / 9)*3)"><a>Additional Rules</a></td>
                                    </tr>
                                    <tr>
                                        <td style="width:calc(100% / 9)">B001237</td>
                                        <td style="width:calc(100% / 9)">Spider Man Shoes</td>
                                        <td style="width:calc(100% / 9)">Shoes.Superhero</td>
                                        <td style="width:calc(100% / 9)">Spiderman character</td>
                                        <td style="width:calc(100% / 9)">01-01-2021</td>
                                        <td style="width:calc(100% / 9)">31-12-2023</td>
                                        <td style="width:calc(100% / 9)">Per Unit percent</td>
                                        <td style="width:calc(100% / 9)">1.2%</td>
                                        <td style="width:calc(calc(100% / 9)*3)"><a>Additional Rules</a></td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="AuditLog">
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-body" style="overflow:auto;padding:4px;min-height:170px">
                            <table class="table table-bordered tabel-condensed" style="margin-bottom:0">
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <div class="tab-pane" id="Advances">
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-body" style="overflow:auto;padding:4px">
                            <table class="table table-bordered tabel-condensed" style="margin-bottom:0">
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="Communication">
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-body" style="overflow:auto;padding:4px;min-height:170px">
                            <table class="table table-bordered tabel-condensed" style="margin-bottom:0">
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="CivilLawsuits">
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-body" style="overflow:auto;padding:4px;min-height:170px">
                            <table class="table table-bordered tabel-condensed" style="margin-bottom:0">
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="Finding">
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-body" style="overflow:auto;padding:4px;min-height:170px">
                            <table class="table table-bordered tabel-condensed" style="margin-bottom:0">
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="Recommendation">
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-body" style="overflow:auto;padding:4px;min-height:170px">
                            <table class="table table-bordered tabel-condensed" style="margin-bottom:0">
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="Case">
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-body" style="overflow:auto;padding:4px;min-height:170px">
                            <table class="table table-bordered tabel-condensed" style="margin-bottom:0">
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="Documents">
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-body" style="overflow:auto;padding:4px;min-height:170px">
                            <table class="table table-bordered tabel-condensed" style="margin-bottom:0">
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</section>
<!-- /.content -->
