
@{
    ViewBag.Title = "NewServiceRequest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    /*.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
        padding: 5px;
        line-height: 1.42857143;
        vertical-align: top;
        border-top: 1px solid #ddd;
    }*/
    table.table-bordered {
        border: 1px solid #050021;
    }

        table.table-bordered > thead > tr > td {
            border: 1px solid #050021;
        }

        table.table-bordered > tbody > tr > td {
            border: 1px solid #050021;
        }

    .tabs-rounded > ul > li > a {
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
        outline: none;
        color: white !important
    }
</style>
<script src="~/AngularCntrls/dashboardCtrl.js?lmdt=201910300907"></script>
<!-- Main content -->
<section class="content" ng-controller="DashboardCntrl" ng-cloak style="padding-right: 0;">

    <div class="panel-group" style="margin-left: -25px;">
        <div class="panel panel-default" style="border: none">
            <div class="panel-heading" style="background:#7f1933">
                <h4 class="panel-title">
                    <a data-toggle="collapse" ng-click="addIconCollapseServiceRequest()" data-parent="#accordionpatient" href="#collapse_search_1">
                        <span style="font-size: 12px;top: 0;" class="glyphicon glyphicon-minus"></span>
                        General
                    </a>
                </h4>
            </div>
            <div id="collapse_search_1" class="panel-collapse active in collapse" style="border: 1px solid #7f1933;">
                <div class="panel-body" style="padding: 0;">

                    <table width="100%">
                        <tr>
                            <td style="width:  calc(100% / 6); ">
                                <div style="width:100%;display: flex">
                                    <div class="input-group" style="width: calc(40% - 2px);">

                                        <input style=" border-radius: 4px" type="text" class="form-control ng-pristine ng-valid ng-empty ng-touched" placeholder="SR ID" name="Licence">
                                    </div>

                                    <div class="input-group" style="width: 60%;left: 2px">

                                        <input type="text" class="form-control ng-pristine ng-valid ng-empty ng-touched" placeholder="Relevance" name="Licence">
                                        <span class="input-group-addon" style="border-top-left-radius: 0;border-bottom-left-radius: 0;padding-bottom: 0;padding-top: 12px;">
                                            <i class="fa fa-ellipsis-h"></i>
                                        </span>
                                    </div>
                                </div>
                            </td>
                            <td style="width:  calc(100% / 6)">

                                <div class="input-group" style="width: 100%">

                                    <input type="text" class="form-control ng-pristine ng-valid ng-empty ng-touched" placeholder="Company" name="Licence">
                                    <span class="input-group-addon" style="border-top-left-radius: 0;border-bottom-left-radius: 0;padding-bottom: 0;padding-top: 12px;">
                                        <i class="fa fa-ellipsis-h"></i>
                                    </span>
                                </div>
                            </td>
                            <td style="width:  calc(100% / 6)">

                                <div class="input-group" style="width: 100%">

                                    <input type="text" class="form-control ng-pristine ng-valid ng-empty ng-touched" placeholder="Person" name="Licence">
                                    <span class="input-group-addon" style="border-top-left-radius: 0;border-bottom-left-radius: 0;padding-bottom: 0;padding-top: 12px;">
                                        <i class="fa fa-ellipsis-h"></i>
                                    </span>
                                </div>
                            </td>
                            <td style="width:  calc(100% / 6)">

                                <div class="input-group" style="width: 100%">

                                    <input type="text" class="form-control ng-pristine ng-valid ng-empty ng-touched" placeholder="Equipment" name="Licence">
                                    <span class="input-group-addon" style="border-top-left-radius: 0;border-bottom-left-radius: 0;padding-bottom: 0;padding-top: 12px;">
                                        <i class="fa fa-ellipsis-h"></i>
                                    </span>
                                </div>
                            </td>
                            <td style="width:  calc(100% / 6)">


                                <div class="input-group" style="width: 100%">

                                    <input type="text" class="form-control ng-pristine ng-valid ng-empty ng-touched" placeholder="Licence" name="Licence">
                                    <span class="input-group-addon" style="border-top-left-radius: 0;border-bottom-left-radius: 0;padding-bottom: 0;padding-top: 12px;">
                                        <i class="fa fa-ellipsis-h"></i>
                                    </span>
                                </div>
                            </td>
                            <td style="width:  calc(100% / 6)">

                                <div class="input-group" style="width: 100%">

                                    <input type="text" class="form-control ng-pristine ng-valid ng-empty ng-touched" placeholder="Location" name="Licence">
                                    <span class="input-group-addon" style="border-top-left-radius: 0;border-bottom-left-radius: 0;padding-bottom: 0;padding-top: 12px;">
                                        <i class="fa fa-ellipsis-h"></i>
                                    </span>
                                </div>
                            </td>


                        </tr>

                        <tr>
                            <td style="width:  calc(100% / 6)">

                                <div class="input-group" style="width: 100%">

                                    <input type="text" class="form-control ng-pristine ng-valid ng-empty ng-touched" placeholder="Status" name="Licence">
                                    <span class="input-group-addon" style="border-top-left-radius: 0;border-bottom-left-radius: 0;padding-bottom: 0;padding-top: 12px;">
                                        <i class="fa fa-ellipsis-h"></i>
                                    </span>
                                </div>
                            </td>
                            <td style="width:  calc(100% / 6)">

                                <div class="input-group" style="width: 100%">

                                    <input type="text" class="form-control ng-pristine ng-valid ng-empty ng-touched" placeholder="SLA Status" name="Licence">
                                    <span class="input-group-addon" style="border-top-left-radius: 0;border-bottom-left-radius: 0;padding-bottom: 0;padding-top: 12px;">
                                        <i class="fa fa-ellipsis-h"></i>
                                    </span>
                                </div>
                            </td>
                            <td style="width:  calc(100% / 6)">

                                <div class="input-group" style="width: 100%">

                                    <input type="text" class="form-control ng-pristine ng-valid ng-empty ng-touched" placeholder="Requested By" name="Licence">
                                    <span class="input-group-addon" style="border-top-left-radius: 0;border-bottom-left-radius: 0;padding-bottom: 0;padding-top: 12px;">
                                        <i class="fa fa-ellipsis-h"></i>
                                    </span>
                                </div>
                            </td>
                            <td style="width:  calc(100% / 6)">

                                <div class="input-group" style="width: 100%">

                                    <input type="text" class="form-control ng-pristine ng-valid ng-empty ng-touched" placeholder="Created By" name="Licence">
                                    <span class="input-group-addon" style="border-top-left-radius: 0;border-bottom-left-radius: 0;padding-bottom: 0;padding-top: 12px;">
                                        <i class="fa fa-ellipsis-h"></i>
                                    </span>
                                </div>
                            </td>
                            <td style="width:  calc(100% / 6)">

                                <div class="input-group" style="width: 100%">

                                    <input type="text" class="form-control ng-pristine ng-valid ng-empty ng-touched" placeholder="Closed By" name="Licence">
                                    <span class="input-group-addon" style="border-top-left-radius: 0;border-bottom-left-radius: 0;padding-bottom: 0;padding-top: 12px;">
                                        <i class="fa fa-ellipsis-h"></i>
                                    </span>
                                </div>
                            </td>
                            <td style="width:  calc(100% / 6)">

                                <div class="input-group" style="width: 100%">

                                    <input type="text" class="form-control ng-pristine ng-valid ng-empty ng-touched" placeholder="Employee Cost Centre" name="Licence">
                                    <span class="input-group-addon" style="border-top-left-radius: 0;border-bottom-left-radius: 0;padding-bottom: 0;padding-top: 12px;">
                                        <i class="fa fa-ellipsis-h"></i>
                                    </span>
                                </div>
                            </td>



                        </tr>


                        <tr>

                            <td style="width:  calc(100% / 6)">

                                <div class="input-group" style="width: 100%">

                                    <input type="text" class="form-control ng-pristine ng-valid ng-empty ng-touched" placeholder="Service Category" name="Licence">
                                    <span class="input-group-addon" style="border-top-left-radius: 0;border-bottom-left-radius: 0;padding-bottom: 0;padding-top: 12px;">
                                        <i class="fa fa-ellipsis-h"></i>
                                    </span>
                                </div>
                            </td>
                            <td style="width:  calc(100% / 6)">

                                <div class="input-group" style="width: 100%">

                                    <input type="text" class="form-control ng-pristine ng-valid ng-empty ng-touched" placeholder="Department" name="Licence">
                                    <span class="input-group-addon" style="border-top-left-radius: 0;border-bottom-left-radius: 0;padding-bottom: 0;padding-top: 12px;">
                                        <i class="fa fa-ellipsis-h"></i>
                                    </span>
                                </div>
                            </td>
                            <td style="width:  calc(100% / 6)">

                                <div class="input-group" style="width: 100%">

                                    <input type="text" class="form-control ng-pristine ng-valid ng-empty ng-touched" placeholder="Sub-capability" name="Licence">
                                    <span class="input-group-addon" style="border-top-left-radius: 0;border-bottom-left-radius: 0;padding-bottom: 0;padding-top: 12px;">
                                        <i class="fa fa-ellipsis-h"></i>
                                    </span>
                                </div>
                            </td>
                            <td style="width:  calc(100% / 6)">

                                <div class="input-group" style="width: 100%">

                                    <input type="text" class="form-control ng-pristine ng-valid ng-empty ng-touched" placeholder="Service Type" name="Licence">
                                    <span class="input-group-addon" style="border-top-left-radius: 0;border-bottom-left-radius: 0;padding-bottom: 0;padding-top: 12px;">
                                        <i class="fa fa-ellipsis-h"></i>
                                    </span>
                                </div>
                            </td>
                            <td style="width:  calc(100% / 6)" colspan="2">


                                <div class="input-group" style="width: 100%">

                                    <input type="text" class="form-control ng-pristine ng-valid ng-empty ng-touched" placeholder="Service" name="Licence">
                                    <span class="input-group-addon" style="border-top-left-radius: 0;border-bottom-left-radius: 0;padding-bottom: 0;padding-top: 12px;">
                                        <i class="fa fa-ellipsis-h"></i>
                                    </span>
                                </div>
                            </td>



                        </tr>


                        <tr>
                            <td colspan="6">

                                <div class="input-group" style="width: 100%">

                                    <textarea class="form-control" style="border-radius:4px" placeholder="Description" name="Licence"></textarea>

                                </div>
                            </td>


                        </tr>

                        <tr>

                            <td colspan="6">

                                <div style="width:100%;display: flex">
                                    <div class="input-group" style="width:  calc(100% / 8);padding-right:3px">
                                        <input datepicker1 style=" border-radius: 4px" type="text" class="form-control ng-pristine ng-valid ng-empty ng-touched" placeholder="Date Created" name="Licence">
                                    </div>
                                    <div class="input-group" style="width:  calc(100% / 8);padding-left:3px;padding-right:3px">
                                        <input datepicker1 style=" border-radius: 4px" type="text" class="form-control ng-pristine ng-valid ng-empty ng-touched" placeholder="Date Requested" name="Licence">
                                    </div>
                                    <div class="input-group" style="width:  calc(100% / 8);padding-left:3px;padding-right:3px">
                                        <input datepicker1 style=" border-radius: 4px" type="text" class="form-control ng-pristine ng-valid ng-empty ng-touched" placeholder="Start Date" name="Licence">
                                    </div>
                                    <div class="input-group" style="width:  calc(100% / 8);padding-left:3px;padding-right:3px">
                                        <input datepicker1 style=" border-radius: 4px" type="text" class="form-control ng-pristine ng-valid ng-empty ng-touched" placeholder="SLA End Date" name="Licence">
                                    </div>
                                    <div class="input-group" style="width:  calc(100% / 8);padding-left:3px;padding-right:3px">
                                        <input datepicker1 style=" border-radius: 4px" type="text" class="form-control ng-pristine ng-valid ng-empty ng-touched" placeholder="Mutually Agreed Date" name="Licence">
                                    </div>
                                    <div class="input-group" style="width:  calc(100% / 8);padding-left:3px;padding-right:3px">
                                        <input datepicker1 style=" border-radius: 4px" type="text" class="form-control ng-pristine ng-valid ng-empty ng-touched" placeholder="Date Closed" name="Licence">
                                    </div>
                                    <div class="input-group" style="width:  calc(100% / 8);padding-left:3px;padding-right:3px">
                                        <input style=" border-radius: 4px" type="text" class="form-control ng-pristine ng-valid ng-empty ng-touched" placeholder="Escalation Indicator" name="Licence">
                                    </div>
                                    <div class="input-group" style="width:  calc(100% / 8);padding-left:3px;">
                                        <input datepicker1 style=" border-radius: 4px" type="text" class="form-control ng-pristine ng-valid ng-empty ng-touched" placeholder="Escalation Date" name="Licence">
                                    </div>


                                </div>
                            </td>



                        </tr>

                        <tr>

                            <td>

                                <div class="input-group" style="width: 100%">

                                    <input type="text" class="form-control ng-pristine ng-valid ng-empty ng-touched" placeholder="Priority" name="Licence">
                                    <span class="input-group-addon" style="border-top-left-radius: 0;border-bottom-left-radius: 0;padding-bottom: 0;padding-top: 12px;">
                                        <i class="fa fa-ellipsis-h"></i>
                                    </span>
                                </div>
                            </td>
                            <td colspan="5">

                                <div class="input-group" style="width: 100%;">

                                    <input style="border-radius:4px" type="text" class="form-control" placeholder="Priority Motivation" name="Licence">

                                </div>
                            </td>
                        </tr>

                    </table>
                </div>

            </div>
        </div>


    </div>

    <div class="panel-group" style="margin-left: -25px;">
        <div class="panel panel-default" style="border: none">
            <div class="panel-heading" style="background:#7f1933">
                <h4 class="panel-title">
                    <a data-toggle="collapse" ng-click="addIconCollapseServiceRequest()" data-parent="#accordionpatient" href="#collapse_steplog_1">
                        <span style="font-size: 12px;top: 0;" class="glyphicon glyphicon-minus"></span>
                        Step Log
                    </a>
                </h4>
            </div>
            <div id="collapse_steplog_1" class="panel-collapse active in collapse" style="border: 1px solid #7f1933;">
                <div class="panel-body" style="padding: 2px;">

                    <table class="table table-bordered tabel-condensed" style="margin-bottom:0">
                        <thead style="background-color:#050021 !important;border-collapse:collapse;white-space:nowrap; font-size:14px;color:#fff !important">
                            <tr>

                                <td style="width:calc(100% / 11)" ng-click="sort('NAME')" ng-class="sortClass('NAME')"><a class="anchor_sorting" href="">Status Change Date</a>&nbsp;</td>
                                <td style="width:calc(100% / 11)" ng-click="sort('NAME')" ng-class="sortClass('NAME')"><a class="anchor_sorting" href="">Status Change Time</a>&nbsp;</td>
                                <td style="width:calc(100% / 11)" ng-click="sort('NAME')" ng-class="sortClass('NAME')"><a class="anchor_sorting" href="">Status Before</a>&nbsp;</td>
                                <td style="width:calc(100% / 11)" ng-click="sort('NAME')" ng-class="sortClass('NAME')"><a class="anchor_sorting" href="">Status After</a>&nbsp;</td>
                                <td style="width:calc(100% / 11)" ng-click="sort('NAME')" ng-class="sortClass('NAME')"><a class="anchor_sorting" href="">Business Role</a>&nbsp;</td>
                                <td style="width:calc(100% / 11)" ng-click="sort('NAME')" ng-class="sortClass('NAME')"><a class="anchor_sorting" href="">Assigned To</a>&nbsp;</td>
                                <td style="width:calc(100% / 11)" ng-click="sort('NAME')" ng-class="sortClass('NAME')"><a class="anchor_sorting" href="">Responded By</a>&nbsp;</td>
                                <td style="width:calc(100% / 11)" ng-click="sort('NAME')" ng-class="sortClass('NAME')"><a class="anchor_sorting" href="">Date Responded</a>&nbsp;</td>
                                <td style="width:calc(calc(100% / 11)*3)" ng-click="sort('NAME')" ng-class="sortClass('NAME')"><a class="anchor_sorting" href="">Comment</a>&nbsp;</td>

                            </tr>
                        </thead>

                        <tbody>

                            <tr>

                                <td style="width:calc(100% / 11)"></td>
                                <td style="width:calc(100% / 11)"></td>
                                <td style="width:calc(100% / 11)"></td>
                                <td style="width:calc(100% / 11)"></td>
                                <td style="width:calc(100% / 11)"></td>
                                <td style="width:calc(100% / 11)"></td>
                                <td style="width:calc(100% / 11)"></td>
                                <td style="width:calc(100% / 11)"></td>
                                <td style="width:calc(calc(100% / 11)*3)"></td>

                            </tr>
                            <tr>

                                <td style="width:calc(100% / 11)"></td>
                                <td style="width:calc(100% / 11)"></td>
                                <td style="width:calc(100% / 11)"></td>
                                <td style="width:calc(100% / 11)"></td>
                                <td style="width:calc(100% / 11)"></td>
                                <td style="width:calc(100% / 11)"></td>
                                <td style="width:calc(100% / 11)"></td>
                                <td style="width:calc(100% / 11)"></td>
                                <td style="width:calc(calc(100% / 11)*3)"></td>

                            </tr>
                            <tr>

                                <td style="width:calc(100% / 11)"></td>
                                <td style="width:calc(100% / 11)"></td>
                                <td style="width:calc(100% / 11)"></td>
                                <td style="width:calc(100% / 11)"></td>
                                <td style="width:calc(100% / 11)"></td>
                                <td style="width:calc(100% / 11)"></td>
                                <td style="width:calc(100% / 11)"></td>
                                <td style="width:calc(100% / 11)"></td>
                                <td style="width:calc(calc(100% / 11)*3)"></td>

                            </tr>
                            <tr>

                                <td style="width:calc(100% / 11)"></td>
                                <td style="width:calc(100% / 11)"></td>
                                <td style="width:calc(100% / 11)"></td>
                                <td style="width:calc(100% / 11)"></td>
                                <td style="width:calc(100% / 11)"></td>
                                <td style="width:calc(100% / 11)"></td>
                                <td style="width:calc(100% / 11)"></td>
                                <td style="width:calc(100% / 11)"></td>
                                <td style="width:calc(calc(100% / 11)*3)"></td>

                            </tr>
                        </tbody>

                    </table>

                </div>

            </div>
        </div>


    </div>

    <div class="tabs-rounded" style="background-color:white;margin-left: -25px;">
        <ul class="nav nav-tabs" style="font-size:12px;border-bottom:0 !important">
            <li class="active"><a href="#General" data-toggle="tab">Documents</a></li>
            <li><a href="#AuditLog" data-toggle="tab">Futher Details</a></li>
            <li><a href="#Documents" data-toggle="tab">Communications</a></li>
            <li><a href="#Communication" data-toggle="tab">Checklist</a></li>
            <li><a href="#Finding" data-toggle="tab">Finding Details</a></li>
            <li><a href="#Recommendation" data-toggle="tab">Recommendations</a></li>
            <li><a href="#Case" data-toggle="tab">Case Details</a></li>
        </ul>
        <div id="myTabContent" class="tab-content">

            <div class="tab-pane active in" id="General">
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-body" style="overflow:auto;padding:4px">
                            <table width="100%">
                                <tr>

                                    <td style="width:  calc(100% / 5)">

                                        <div class="input-group" style="width: 100%">

                                            <input type="text" class="form-control ng-pristine ng-valid ng-empty ng-touched" placeholder="Privacy Indicator" name="Licence">
                                            <span class="input-group-addon" style="border-top-left-radius: 0;border-bottom-left-radius: 0;padding-bottom: 0;padding-top: 12px;">
                                                <i class="fa fa-ellipsis-h"></i>
                                            </span>
                                        </div>
                                    </td>
                                    <td style="width:  calc(100% / 5)">

                                        <div class="input-group" style="width: 100%">

                                            <input type="text" class="form-control ng-pristine ng-valid ng-empty ng-touched" placeholder="Category" name="Licence">
                                            <span class="input-group-addon" style="border-top-left-radius: 0;border-bottom-left-radius: 0;padding-bottom: 0;padding-top: 12px;">
                                                <i class="fa fa-ellipsis-h"></i>
                                            </span>
                                        </div>
                                    </td>
                                    <td style="width:  calc(100% / 5)">

                                        <div class="input-group" style="width: 100%">

                                            <input type="text" class="form-control ng-pristine ng-valid ng-empty ng-touched" placeholder="Type" name="Licence">
                                            <span class="input-group-addon" style="border-top-left-radius: 0;border-bottom-left-radius: 0;padding-bottom: 0;padding-top: 12px;">
                                                <i class="fa fa-ellipsis-h"></i>
                                            </span>
                                        </div>
                                    </td>
                                    <td style="width:  calc(100% / 5)">

                                        <div class="input-group" style="width: 100%">

                                            <input type="text" class="form-control ng-pristine ng-valid ng-empty ng-touched" placeholder="Status" name="Licence">
                                            <span class="input-group-addon" style="border-top-left-radius: 0;border-bottom-left-radius: 0;padding-bottom: 0;padding-top: 12px;">
                                                <i class="fa fa-ellipsis-h"></i>
                                            </span>
                                        </div>
                                    </td>
                                    <td style="width:  calc(100% / 5);text-align:right">
                                        <button class="btn btn-ggb-orange">Add</button>
                                        <button class="btn btn-ggb-orange">Clear</button>
                                        <button class="btn btn-ggb-orange">Filter</button>
                                    </td>


                                </tr>
                            </table>

                            <table class="table table-bordered tabel-condensed" style="margin-bottom:0">
                                <thead style="background-color:#050021 !important;border-collapse:collapse;white-space:nowrap; font-size:14px;color:#fff !important">
                                    <tr>

                                        <td style="width:calc(100% / 9)" ng-click="sort('NAME')" ng-class="sortClass('NAME')"><a class="anchor_sorting" href="">Document Name</a>&nbsp;</td>
                                        <td style="width:calc(100% / 9)" ng-click="sort('NAME')" ng-class="sortClass('NAME')"><a class="anchor_sorting" href="">Category</a>&nbsp;</td>
                                        <td style="width:calc(100% / 9)" ng-click="sort('NAME')" ng-class="sortClass('NAME')"><a class="anchor_sorting" href="">Type</a>&nbsp;</td>
                                        <td style="width:calc(100% / 9)" ng-click="sort('NAME')" ng-class="sortClass('NAME')"><a class="anchor_sorting" href="">Document Name</a>&nbsp;</td>
                                        <td style="width:calc(100% / 9)" ng-click="sort('NAME')" ng-class="sortClass('NAME')"><a class="anchor_sorting" href="">Privacy Indicator</a>&nbsp;</td>
                                        <td style="width:calc(100% / 9)" ng-click="sort('NAME')" ng-class="sortClass('NAME')"><a class="anchor_sorting" href="">Status</a>&nbsp;</td>
                                        <td style="width:calc(calc(100% / 11)*3)" ng-click="sort('NAME')" ng-class="sortClass('NAME')"><a class="anchor_sorting" href="">URL</a>&nbsp;</td>

                                    </tr>
                                </thead>

                                <tbody>

                                    <tr>

                                        <td style="width:calc(100% / 9)"></td>
                                        <td style="width:calc(100% / 9)"></td>
                                        <td style="width:calc(100% / 9)"></td>
                                        <td style="width:calc(100% / 9)"></td>
                                        <td style="width:calc(100% / 9)"></td>
                                        <td style="width:calc(100% / 9)"></td>
                                        <td style="width:calc(calc(100% / 11)*3)"></td>

                                    </tr>
                                    <tr>

                                        <td style="width:calc(100% / 9)"></td>
                                        <td style="width:calc(100% / 9)"></td>
                                        <td style="width:calc(100% / 9)"></td>
                                        <td style="width:calc(100% / 9)"></td>
                                        <td style="width:calc(100% / 9)"></td>
                                        <td style="width:calc(100% / 9)"></td>
                                        <td style="width:calc(calc(100% / 11)*3)"></td>

                                    </tr>
                                    <tr>

                                        <td style="width:calc(100% / 9)"></td>
                                        <td style="width:calc(100% / 9)"></td>
                                        <td style="width:calc(100% / 9)"></td>
                                        <td style="width:calc(100% / 9)"></td>
                                        <td style="width:calc(100% / 9)"></td>
                                        <td style="width:calc(100% / 9)"></td>
                                        <td style="width:calc(calc(100% / 11)*3)"></td>

                                    </tr>
                                    <tr>

                                        <td style="width:calc(100% / 9)"></td>
                                        <td style="width:calc(100% / 9)"></td>
                                        <td style="width:calc(100% / 9)"></td>
                                        <td style="width:calc(100% / 9)"></td>
                                        <td style="width:calc(100% / 9)"></td>
                                        <td style="width:calc(100% / 9)"></td>
                                        <td style="width:calc(calc(100% / 11)*3)"></td>

                                    </tr>
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="AuditLog">
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-body" style="overflow:auto;padding:4px;min-height:170px">

                        </div>
                    </div>
                </div>

            </div>
            <div class="tab-pane" id="Documents">
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-body" style="overflow:auto;padding:4px">
                            <table width="100%">
                                <tr>

                                    <td style="width:  calc(100% / 5)">

                                        <div class="input-group" style="width: 100%">

                                            <input type="text" class="form-control ng-pristine ng-valid ng-empty ng-touched" placeholder="Privacy Indicator" name="Licence">
                                            <span class="input-group-addon" style="border-top-left-radius: 0;border-bottom-left-radius: 0;padding-bottom: 0;padding-top: 12px;">
                                                <i class="fa fa-ellipsis-h"></i>
                                            </span>
                                        </div>
                                    </td>
                                    <td style="width:  calc(100% / 5)">

                                        <div class="input-group" style="width: 100%">

                                            <input type="text" class="form-control ng-pristine ng-valid ng-empty ng-touched" placeholder="Category" name="Licence">
                                            <span class="input-group-addon" style="border-top-left-radius: 0;border-bottom-left-radius: 0;padding-bottom: 0;padding-top: 12px;">
                                                <i class="fa fa-ellipsis-h"></i>
                                            </span>
                                        </div>
                                    </td>
                                    <td style="width:  calc(100% / 5)">

                                        <div class="input-group" style="width: 100%">

                                            <input type="text" class="form-control ng-pristine ng-valid ng-empty ng-touched" placeholder="Type" name="Licence">
                                            <span class="input-group-addon" style="border-top-left-radius: 0;border-bottom-left-radius: 0;padding-bottom: 0;padding-top: 12px;">
                                                <i class="fa fa-ellipsis-h"></i>
                                            </span>
                                        </div>
                                    </td>
                                    <td style="width:  calc(100% / 5)">

                                        <div class="input-group" style="width: 100%">

                                            <input type="text" class="form-control ng-pristine ng-valid ng-empty ng-touched" placeholder="Status" name="Licence">
                                            <span class="input-group-addon" style="border-top-left-radius: 0;border-bottom-left-radius: 0;padding-bottom: 0;padding-top: 12px;">
                                                <i class="fa fa-ellipsis-h"></i>
                                            </span>
                                        </div>
                                    </td>
                                    <td style="width:  calc(100% / 5);text-align:right">
                                        <button class="btn btn-ggb-orange">Add</button>
                                        <button class="btn btn-ggb-orange">Clear</button>
                                        <button class="btn btn-ggb-orange">Filter</button>
                                    </td>


                                </tr>
                            </table>

                            <table class="table table-bordered tabel-condensed" style="margin-bottom:0">
                                <thead style="background-color:#050021 !important;border-collapse:collapse;white-space:nowrap; font-size:14px;color:#fff !important">
                                    <tr>

                                        <td style="width:calc(100% / 10)" ng-click="sort('NAME')" ng-class="sortClass('NAME')"><a class="anchor_sorting" href="">Subject</a>&nbsp;</td>
                                        <td style="width:calc(100% / 10)" ng-click="sort('NAME')" ng-class="sortClass('NAME')"><a class="anchor_sorting" href="">Category</a>&nbsp;</td>
                                        <td style="width:calc(100% / 10)" ng-click="sort('NAME')" ng-class="sortClass('NAME')"><a class="anchor_sorting" href="">Type</a>&nbsp;</td>
                                        <td style="width:calc(100% / 10)" ng-click="sort('NAME')" ng-class="sortClass('NAME')"><a class="anchor_sorting" href="">Autor</a>&nbsp;</td>
                                        <td style="width:calc(100% / 10)" ng-click="sort('NAME')" ng-class="sortClass('NAME')"><a class="anchor_sorting" href="">Contact Details</a>&nbsp;</td>
                                        <td style="width:calc(100% / 10)" ng-click="sort('NAME')" ng-class="sortClass('NAME')"><a class="anchor_sorting" href="">Privacy Indicator</a>&nbsp;</td>
                                        <td style="width:calc(100% / 10)" ng-click="sort('NAME')" ng-class="sortClass('NAME')"><a class="anchor_sorting" href="">Status</a>&nbsp;</td>
                                        <td style="width:calc(calc(100% / 11)*3)" ng-click="sort('NAME')" ng-class="sortClass('NAME')"><a class="anchor_sorting" href="">Description</a>&nbsp;</td>

                                    </tr>
                                </thead>

                                <tbody>

                                    <tr>

                                        <td style="width:calc(100% / 10)"></td>
                                        <td style="width:calc(100% / 10)"></td>
                                        <td style="width:calc(100% / 10)"></td>
                                        <td style="width:calc(100% / 10)"></td>
                                        <td style="width:calc(100% / 10)"></td>
                                        <td style="width:calc(100% / 10)"></td>
                                        <td style="width:calc(100% / 10)"></td>
                                        <td style="width:calc(calc(100% / 11)*3)"></td>

                                    </tr>
                                    <tr>

                                        <td style="width:calc(100% / 10)"></td>
                                        <td style="width:calc(100% / 10)"></td>
                                        <td style="width:calc(100% / 10)"></td>
                                        <td style="width:calc(100% / 10)"></td>
                                        <td style="width:calc(100% / 10)"></td>
                                        <td style="width:calc(100% / 10)"></td>
                                        <td style="width:calc(100% / 10)"></td>
                                        <td style="width:calc(calc(100% / 11)*3)"></td>

                                    </tr>
                                    <tr>

                                        <td style="width:calc(100% / 10)"></td>
                                        <td style="width:calc(100% / 10)"></td>
                                        <td style="width:calc(100% / 10)"></td>
                                        <td style="width:calc(100% / 10)"></td>
                                        <td style="width:calc(100% / 10)"></td>
                                        <td style="width:calc(100% / 10)"></td>
                                        <td style="width:calc(100% / 10)"></td>
                                        <td style="width:calc(calc(100% / 11)*3)"></td>

                                    </tr>
                                    <tr>

                                        <td style="width:calc(100% / 10)"></td>
                                        <td style="width:calc(100% / 10)"></td>
                                        <td style="width:calc(100% / 10)"></td>
                                        <td style="width:calc(100% / 10)"></td>
                                        <td style="width:calc(100% / 10)"></td>
                                        <td style="width:calc(100% / 10)"></td>
                                        <td style="width:calc(100% / 10)"></td>
                                        <td style="width:calc(calc(100% / 11)*3)"></td>

                                    </tr>
                                </tbody>

                            </table>

                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="Communication">
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-body" style="overflow:auto;padding:4px;min-height:170px">

                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="CivilLawsuits">
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-body" style="overflow:auto;padding:4px;min-height:170px">

                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="Finding">
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-body" style="overflow:auto;padding:4px;min-height:170px">

                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="Recommendation">
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-body" style="overflow:auto;padding:4px;min-height:170px">

                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="Case">
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-body" style="overflow:auto;padding:4px;min-height:170px">

                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</section>
<!-- /.content -->
